.App {
    text-align: center;
}
/* User Page CSS */
.book-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
    /* Add left and right padding */
}

.book {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.book h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0;
}

.book h3,
.book h4,
.book h5 {
    margin-top: 0.5em;
}

.book p {
    margin: 0;
}

.book button {
    margin-top: 1em;
}

@media (max-width: 768px) {
    .book-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .book-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.add-user-btn {
    width: auto;
    min-width: 280px;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #5C7AEA;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.add-photo-btn {
    width: auto;
    min-width: 280px;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #5C7AEA;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.add-user-btn:hover {
    background-color: #6E94FF;
}

img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: rgb(203, 238, 227);
}

.book-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.no-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: rgb(203, 238, 227);
}

.delete {
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(245, 191, 191);
    color: rgb(242, 100, 100);
}

.update {
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(204, 204, 243);
    color: rgb(139, 139, 234);
}

.edit {
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(204, 204, 243);
    color: rgb(139, 139, 234);
}

    .update a,
    .edit a {
        text-decoration: none;
        color: inherit;
    }

.add-bookcopy-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.add-bookseries-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#user-input {
    width: 200px;
    padding: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.update-bookcopy-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.formAddBtn {
    border: none;
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
    background-color: rgb(12 180 87);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.photoAddBtn {
    border: none;
    width: 200px;
    padding: 10px;
    border: 1px solid gray;
    background-color: rgb(12 180 87);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.photoDeleteBtn {
    border: none;
    width: 200px;
    padding: 10px;
    border: 1px solid gray;
    background-color: rgb(225 28 28);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.formCancelBtn {
    border: none;
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
    background-color: rgb(225 28 28);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#h1user {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #5C7AEA;
    margin: 20px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
}

.editphotos {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
    /* Add left and right padding */
}

.photo {
    background-color: #f5f5f5;
    border-radius: 10px;
}

.photo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.pagenumber {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* ^^ User Page CSS ^^ */
/* ^^ User Page CSS ^^ */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
/* ^^ Modal dialog CSS ^^ */

.flex-base {
    display: flex;
    flex-wrap: wrap;
}
.browser-container-table {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
}
.browser-container-button {
    width: 50%;
}
.browser-container-info {
    width: 100%;
}
.flex-base-bookinfo {
    display: flex;
    flex-wrap: nowrap;
}
.info-box {
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 30px;
    margin-bottom: 10px;
    padding: 30px;
    padding-right: 50%;
}
.pic-box {
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.data-box {
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 30px;
    width: 50%;
}
.pic-box a {
    text-decoration: none;
    color: #565656;
    font-weight: bold;
    width: 100%;
}
.pic-box-pictures {
    width: 100%;
    margin-top: 10px;
}
.pic-box button {
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(204, 204, 243);
    color: rgb(139, 139, 234);
    margin-left: 10px;
    margin-right: 15px;
}
.info-box a,
.pic-box a {
    text-decoration: none;
    color: #565656;
    font-weight: bold;
}

.browser-container-button p,
.browser-container-button button {
    margin-left: 40px;
}
.add-books-btn {
    width: auto;
    min-width: 40px;
    display: inline-block;
    margin: 3px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #565656;
    text-align: center;
    text-decoration: none;
    background-color: #bdbdbd;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.browser-table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    width: 200%;
    margin: 150px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 30px;
}

.browser-table th,
.browser-table td {
    padding: 10px;
    text-align: left;
}
.browser-table th {
    background-color: #bdbdbd;
    color: white;
    outline: 2px solid #bdbdbd;
    outline-offset: 0px;
}

.browser-table tr:first-child {
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.25);
}

.browser-table th:first-child,
.browser-table td:first-child {
    width: 60%;
}

.browser-table tr:nth-child(even) {
    background-color: #f5f5f5;
}
.browser-table tr:nth-child(odd) {
    background-color: #ffffff;
}

.browser-table a {
    color: #5C7AEA;
    text-decoration: none;
    margin-left: 20px;
}

.browser-table tr.even-row {
    background-color: #dadada;
}
/* ^^ Browser CSS ^^ */

.navbar {
    background-color: #f5f5f5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    display: flex;
    align-items: center;
}

.navbar a {
    color: #565656;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
}

.navbar a:first-child {
    margin-left: 10px;
}

.navbar a:hover {
    color: #5C7AEA;
}

.navbar p {
    margin-left: auto;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 10px;
    font-size: 13px;
}

.logout {
    margin-left: auto;
    margin-right: 20px;
    padding: 4px;
}


/* Header */
.header {
    text-align: center;
    background-image: url("./header_picture.jpg");
    background-color: #cccccc;
    color: rgb(90, 88, 88);
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-text {
    font-size: 40px;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
}

.div {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 88%;
    margin: 50px;
    margin-right: 10px;
    margin-top: 20px;
    padding: 40px;
}
.home-text {
    padding-left: 120px;
    padding-right: 105px;
    padding-top: 20px;
    font-size: 1.3em;
}
.blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
  }

/* Small screens */
@media screen and (max-width: 1800px) {
    .header {
        height: 200px;
    }
    .div {
        margin-top: 10px;
    }
    .home-text {
        font-size: 1.1em;
    }
  }