.App {
  text-align: center;
}

/* User Page CSS */
.book-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
}

.book {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

    .book h2 {
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 0;
    }

    .book h3, .book h4, .book h5 {
        margin-top: 0.5em;
    }

    .book p {
        margin: 0;
    }

    .book button {
        margin-top: 1em;
    }

@media (max-width: 768px) {
    .book-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .book-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
.add-user-btn {
    width: auto;
    min-width: 280px;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #5C7AEA;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

    .add-user-btn:hover {
        background-color: #6E94FF;
    }
img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: rgb(203, 238, 227);
}
.book-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
}
.no-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: rgb(203, 238, 227);
}
.delete {
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(245, 191, 191);
    color: rgb(242, 100, 100);
}
.update {
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(204, 204, 243);
    color: rgb(139, 139, 234);
}
.add-bookcopy-form {
    display:flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.add-bookseries-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#user-input {
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
}
.update-bookcopy-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.formAddBtn {
    border: none;
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
    background-color: rgb(12 180 87);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.formCancelBtn {
    border: none;
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
    background-color: rgb(225 28 28);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#h1user {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #5C7AEA;
    margin: 20px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
}


/* ^^ User Page CSS ^^ */
/* ^^ User Page CSS ^^ */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  }
  /* ^^ Modal dialog CSS ^^ */

.navbar {
    background-color: #f5f5f5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    display: flex;
    align-items: center;
}

    .navbar a {
        color: #565656;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        margin-right: 10px;
    }

        .navbar a:first-child {
            margin-left: 10px;
        }

        .navbar a:hover {
            color: #5C7AEA;
        }