.Forms {
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 30px;
  margin-top: 70px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;

 
}

.Container {
  text-align: left;
  padding: 20px 50px;
  width: 70%;
  margin: auto;
}

.Container a {
  color: #373738;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}

.Container a:hover {
  color: #5C7AEA;
}
h2 {
  color: #373738;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

input[type=text],
input[type=password],
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  border: 2px solid #373838;
}


input[type=text].invalid,
input[type=password].invalid,
input[type=email].invalid,
input[type=text]:focus.invalid,
input[type=password]:focus.invalid
input[type=email]:focus.invalid {
  border: 2px solid red;
}

.img {
  min-height: 100vh;
  background-image: url("./login_picture.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 80px;
}
.blur {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
}




@media screen and (max-width: 700px) {
  .Forms {
    width: 80%;
  }

}